/* || Logo || */
.nav-logo {
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
}

.nav-logo-img {
  width: 5rem;
}

.nav-logo-title {
  font-family: "Fredoka One", cursive;
  color: var(--white);
  letter-spacing: 2px;
}

.nav-logo-title span {
  color: var(--primary);
  margin-left: 4px;
}
